[Desktop Entry]
Name=Streaming Client 1
Exec=bash /home/maxbaraitsersmith/Desktop/arselectronica2025-remote/streaming_client/streaming_client_1.sh
Type=Application
