[Desktop Entry]
Name=Control Signal Client
Exec=lxterminal -e "bash /home/maxbaraitsersmith/Desktop/arselectronica2025-remote/control_signal_client/control_signal_client.sh"
Type=Application
